* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif, 'Microsoft YaHei';
  overflow: auto;
}

.story-cards {
  margin: 0 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  color: white;
}

.story-card {
  position: relative;
  margin: 20px 10px;
  height: 120px;
  width: 23.76%;
  border-radius: 5px;
}

.all-story-card {
  background-color: #31b48d;
}

.uncompleted-story-card {
  background-color: #38a1f2;
}

.processing-story-card {
  background-color: #7538c7;
}

.completed-story-card {
  background-color: #3b67a4;
}

.iconfont {
  position: absolute;
  top: 7px;
  right: 9px;
  opacity: 0.3;
  font-size: 100px;
}

.card-title {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 14px;
}

.card-count {
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.symbol {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 25px;
  width: 35px;
  line-height: 25px;
  border-radius: 5px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  font-size: 13px;
}

.show-percentage {
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.project-bar {
  margin: 10px 20px;
  font-size: 25px;
}

table {
  position: absolute;
  width: calc(100% - 40px);
  margin: 20px 20px;
  table-layout: fixed;
  word-break: break-all; 
  word-wrap: break-word;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #dcdee3;
  color: #333;
}

thead {
  background: #ebecf0;
}

th {
  padding: 18px;
  text-align: left;
}

tr {
  border-bottom: 1px solid #dcdee3;
}

td {
  padding: 18px;
}

.project-name {
  width: 300px;
}

.deadline, .status, .operation {
  width: 180px;
}

.description {
  display: -webkit-box;
  width: 100%;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; 
	overflow: hidden;
	word-break: break-all;
	text-overflow: ellipsis;
}

.description:hover {
  display: block;
}

.btn {
  height: 33px;
  width: 50px;
  border-radius: 5px;
  border: none;
  background-color: #ee706d;
  color: white;
  cursor: pointer!important;
  outline: none;
}

.btn:active {
  background-color: #ee706d;
  transform: translateY(4px);
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.confirm-block {
  position: fixed;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -170px;
  height: 200px;
  width: 340px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.reminder {
  position: relative;
  top: 40px;
  left: 57px;
  line-height: 24px;
  font-size: 20px;
  color: #333;
}

.icon-wenhao {
  color: #f1c826;
  top: 41px;
  left: 20px;
  font-size: 24px;
  opacity: 0.8;
}

.icon-guanbi {
  top: 20px;
  right: 20px;
  color: #666;
  opacity: 0.9;
  font-size: 16px;
  cursor: pointer;
}

.reminder-details {
  position: relative;
  top: 40px;
  left: 57px;
  color: #666;
  margin-top: 8px;
  font-size: 14px;
}

.mask-btn {
  position: absolute;
  height: 33px;
  width: 50px;
  border-radius: 5px;
  bottom: 20px;
  cursor: pointer;
  outline: none;
}

.confirm-btn {
  right: 80px;
  background-color: #3080fe;
  color: white;
  cursor: pointer;
}

.cancle-btn {
  right: 20px;
}