* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif, 'Microsoft YaHei';
}

.story-cards {
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

.story-card {
  position: relative;
  margin: 20px 10px;
  height: 120px;
  width: 23.76%;
  border-radius: 5px;
}

.all-story-card {
  background-color: #31b48d;
}

.uncompleted-story-card {
  background-color: #38a1f2;
}

.processing-story-card {
  background-color: #7538c7;
}

.completed-story-card {
  background-color: #3b67a4;
}

.iconfont {
  position: absolute;
  top: 7px;
  right: 9px;
  opacity: 0.3;
  font-size: 100px;
}

.card-title {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 14px;
}

.card-count {
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.symbol {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 25px;
  width: 35px;
  line-height: 25px;
  border-radius: 5px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  font-size: 13px;
}

.show-percentage {
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.project-bar {
  margin: 10px 20px;
  font-size: 25px;
}

table {
  position: absolute;
  width: calc(100% - 40px);
  margin: 20px 20px;
  table-layout: fixed;
  word-break: break-all; 
  word-wrap: break-word;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #dcdee3;
  color: #333;
}

thead {
  background: #ebecf0;
}

th {
  padding: 18px;
  text-align: left;
}

tr {
  border-bottom: 1px solid #dcdee3;
}

td {
  padding: 18px;
}

.project-name {
  width: 300px;
}

.deadline, .status, .operation {
  width: 180px;
}

#description {
  display: -webkit-box;
  width: 100%;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; 
	overflow: hidden;
	word-break: break-all;
	text-overflow: ellipsis;
}

#description:hover {
  display: block;
}

.btn {
  height: 33px;
  width: 50px;
  border-radius: 5px;
  border: none;
  background-color: #ee706d;
  color: white;
  cursor: pointer;
  outline: none;
}

.btn:active {
  background-color: #ee706d;
  transform: translateY(4px);
}